   <main>
           
                <br>
                <br>
                <form method="POST" action='@Url.Action("Login", "Cliente")'>
                   
                   
        
                    <div>
                        <label for="email">E-mail</label>
                        <br />
                        <input id="email" type="email" />
                    </div>
                    <div>
                        <label for="nome">senha</label>
                        <br />
                        <input id="nome" type="password" maxlength="50" minlength="3" name="nome" />
                    </div>
                    <input type="submit" value="entrar"   />
        </form>
        </main>