   
        <main>
           
                <br>
                <br>
                <form method="POST" action='@Url.Action("CadastrarCliente", "Cadastro")'>
                   
                   
        
                    <div>
                        <label for="email">E-mail</label>
                        <br />
                        <input id="email" type="email" />
                    </div>
                    <div>
                        <label for="email">confirmar E-mail</label>
                        <br />
                        <input id="email" type="email" />
                    </div>
                    <div>
                        <label for="password">senha</label>
                        <br />
                        <input id="password" type="password" maxlength="50" minlength="3" name="nome" />
                    </div>
                    <div>
                        <label for="password">confirmar senha</label>
                        <br />
                        <input id="password" type="password" maxlength="50" minlength="3" name="nome" />
                    </div>
                    <div>
                        <label for="cpf">cpf</label>
                        <br />
                        <input id="nome" type="text" maxlength="50" minlength="3" name="nome" />
                    </div>
                    <input type="submit" value="entrar"   />
        </form>
        </main>
        